/* 1-st ex */
#cards{
    background-color: #0d5825;
    height: 600px;
    width: 600px;
    position: relative;
    left: 30%;
    
}

#cards blockquote {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: white;
    line-height: 20%;
    
}
#cards blockquote p::before{
        content: "\201c";
        
    }
    
 #cards   blockquote p::after {
        content: "\201d";
}

.card1 {
    transform:rotate(-20deg) translateY(-20px);
    width: 150px;
    position: absolute;
    right: 42%;
    top: 35%;
}
.card2 {
    transform: rotate(-10deg)translateY(-15px);
    width: 150px;
    position: absolute;
    right: 35%;
    top: 35%;
}
.card3 {
    transform: rotate(10deg)translateY(5px);
    width: 150px;
    position: absolute;
    right: 26%;
    top: 35%;
}
.card1:hover {
    transform:rotate(-20deg) translateY(-30px);
    width: 150px;
    position: absolute;
    right: 42%;
    top: 35%;
    transition-duration: 0.25s;
}
.card2:hover {
    transform: rotate(-10deg)translateY(-25px);
    width: 150px;
    position: absolute;
    right: 35%;
    top: 35%;
    transition-duration: 0.25s;
}
.card3:hover {
    transform: rotate(10deg)translateY(-5px);
    width: 150px;
    position: absolute;
    right: 26%;
    top: 35%;
    transition-duration: 0.25s;
}

/* 2-nd ex */
.main {
    height: 500px;
    width: 500px;
    position: relative;
}

.sq1 {
    background-color: rgb(252, 129, 150);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;

}
.sq2 {
    background-color: rgb(143, 95, 204);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 165px;
    left: 165px;
    z-index: 2;
}
.sq3 {
    background-color: rgb(109, 236, 136);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 240px;
    left: 240px;
}

.sq1:hover {
    z-index: 3;

}
.sq2:hover {
    z-index: 0;
}
.sq3:hover {
    z-index: 3;
}

/* 3-rd ex */

.menu{
    height: 600px;
    width: 350px;
    background-color: rgb(128, 128, 128);
    position: relative;
    margin-left: -320px;
    transition-duration: 0.4s;
}

.menu ul {
    padding-left: 40px;
    padding-top: 40px;
}

.menu li {
    margin: 3%;
    list-style-type: none;
}

li:hover {
    color: orange;
    
}
.menu p {
    transform: rotate(90deg);
    color: white;
    position: absolute;
    right: -30px;
    top: 300px;    
    margin: 0px;
}

.menu p:hover{
    transform: rotate(90deg);
    color: white;
    position: absolute;
    right: 0px;
    top: 300px;
    visibility: hidden;
    
    
}
.menu:hover {
    height: 600px;
    width: 400px;
    background-color: rgb(128, 128, 128);
    position: relative;
    margin-left: 0px;    
}
.menu:hover p{
    opacity: 0;
}

li::before{
    background-image: url(../img/Снимок\ экрана\ 2020-10-24\ в\ 21.48.20.png);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    width: 25px; 
    height: 20px;
    content:"";
   
}

/* 4-th ex */

  .qa {
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: relative; 
    margin: 20%;
  }
  span {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    animation: animation 3s infinite ease-in-out;
  }
  
  @keyframes animation {
 
    0% {
      transform: translate(0%);
      background-color: blue;
    }
    25%{
        transform: translate(200%,0%) ; 
        background-color: chartreuse;
  }
     50% {
      transform: translate(200%, -200%);
      background-color: yellow;
    }
    75%{
      transform: translate(0%, -200%) ; 
      background-color: red;
    }
    100% {
      transform: translate(0);
      background-color: blue;
    }
}