.blockquote {
    color: green;
}

/* 2-nd ex */

a[href^='https'] {
color: red;
}

li:nth-child(4) {
    background-color: green;
}

ul + p {
    font-size: 26px;
}

/* 3-rd ex */
h3:first-child {
    color: pink;
}

#greycol{
    color: gray;
}

.text-box div p {
    color: red;
}

#greycol ~ p{
    color: green;
}

.yellow {
    color: yellow !important ;
} 

/* 4-th ex */
.bg-box{
    height: 500px;
    background: center / 30% no-repeat url(../Img/Dom.jpg),
      top / 2% repeat-x url(../Img/Lamp.png),
       bottom / 13% repeat-x url(../Img/Trava.png),
       top right / 2% repeat-y url(../Img/Donat.png),
       green top left/ 2% repeat-y url(../Img/Ezik.png);
    /* background-image: url(/HW/HW2/Img/Dom.jpg),
                      url(/HW/HW2/Img/Lamp.png),
                      url(/HW/HW2/Img/Trava.png)
                      url(/HW/HW2/Img/Donat.png),
                      url(/HW/HW2/Img/Ezik.png);
    background-repeat: no-repeat,
                       repeat-x,
                       repeat-x,
                       repeat-y,
                       repeat-y;
    background-position: center center,
                         left top,
                         left bottom,
                         right top,
                         right left; */

                       
}